@font-face {
  font-family: "Montserrat Black";
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"),
  url("../fonts/Montserrat-Black.woff") format("woff"),
  url("../fonts/Montserrat-Black.ttf") format("opentype");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}