.header {
    position: relative;
    color: #ffffff;
    background: url('../images/header-bg-bottom.png') bottom no-repeat,
        url('../images/header-bg.png') bottom -170px left / cover no-repeat,
        url('../images/header-bg-right.png') top 140px right -20px no-repeat;

    &::before {
        position: absolute;
        content: "";
        background: linear-gradient(to right, rgba(94,10,158,1) 0%, rgba(255,255,255,0) 100%);
        z-index: -1;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .14;
    }

    &::after {
        position: absolute;
        content: 'context';
        @include font('stern-bold');
        right: 40px;
        bottom: 0;
        font-size: 165px;
        letter-spacing: -0.02em;
        -webkit-text-stroke: 2px rgba(255, 255, 255, .14);
        color: transparent;
        line-height: 165px;
    }

    &__panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px 0;
    }

    &__logo {
        margin-left: 25px;
    }

    &__panel-right {
        display: flex;
        align-items: center;
    }

    &__lang {
        @include font('helvetica-light');
        font-size: 14px;
        text-transform: uppercase;
        display: flex;
        margin-left: 165px;
        margin-right: 110px;
    }

    &__lang-item {
        margin-right: 4px;
        &:last-child {
            margin-right: 0;
        }
    }

    &__hero {
        margin-left: 50px;
        padding: 60px 0;
    }

} 

.header-hero {

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    &__subtitle {
        @include font('sitka-bold');
        font-size: 60px;
        color: #f7f7f7;
        text-transform: uppercase;
    }

    &__title {
        @include font('sitka-bold');
        font-size: 76px;
        line-height: 60px;
        text-align: right;
        color: #e2a6fb;
        text-transform: uppercase;
        margin-right: 190px;
        margin-bottom: 40px;
    }

    &__text {
        @include font('poppins');
        font-size: 24px;
        line-height: 40px;
        margin-top: 35px;
        word-break: break-all;
        color: #dbdbe0;
    }

    &__btn {
        letter-spacing: -0.02em;
    }
}